@use "../utils/variables" as *;

.main {
    background-color: $primary;
    padding: $main-padding;
    padding-top: $header-height + calc($main-padding / 2);
    color: $bright-on-dark;
    font-family: $main-font;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}