$primary: #3b3b3b;
$darker-primary: #1a1a1a;
$bright-on-dark: #bebebe;

$header-height: 75px;
$main-padding: 50px;

$header-font: Lucida Console, monospace;
$main-font: Comic Sans MS, cursive;
$footer-font: $header-font;