@{
    ViewData["Title"] = "Home Page";
}

<form id="numberForm" method="POST">
    <label for="userNumber">Podaj liczbę z zakresu [5, 20]:</label>
    <input type="number" id="userNumber" name="userNumber" autocomplete="off">
    <button type="submit">Utwórz</button>
</form>
<p id="error">Wprowadzono nieprawidłową wartość, wybrano domyślną wartość równą 10.</p>

<table id="tabliczkaMnozenia"></table>